#clock{
	display:block;
	width:600px;
	height:600px;
	border-radius:600px;
	border:solid 1px red;
	position:relative;
	left:150px;
	top:150px;
}
.niddle{
	width:600px;
	height:1px;
	position:absolute;
	left:0px;
	top:50%;
	background:black;
	
}
.niddle a{
	display:block;
	width:100px;
	height:100px;
	border-radius:600px;
	border:solid 2px black;
	position:relative;
	margin-left:-50px;
	margin-top:-50px;
}